Source: crashmail
Section: mail
Priority: extra
Maintainer: Robert James Clay <jame@rocasa.us>
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 5.0.0), dpkg-dev (>= 1.16.1~)
Homepage: https://alioth.debian.org/projects/crashmail/
Vcs-Browser: http://git.debian.org/?p=crashmail/crashmail.git
Vcs-Git: git://git.debian.org/crashmail/crashmail.git

Package: crashmail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: zip, unzip, unar, goldedplus | jamnntpd
Homepage: https://alioth.debian.org/projects/crashmail/
Description: JAM and *.MSG capable Fidonet tosser
 CrashMail II is basically a more portable version of
 CrashMail, a tosser for Amiga computers. Users of the old
 Amiga version will probably find some things familiar
 while some features are gone such as the ARexx port (for
 obvious reasons!) and the GUI configuration editor. The
 only feature that CrashMail II has and the old CrashMail
 hasn't is support for JAM messagebases.
